[
  ;; Entity-Type

 {:db/ident :dm5/entity-type
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A DM5 entity type (topic or assoc)"}

  ;; DM5 Object

 {:db/ident :dm5.object/uri
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A DM5 object's URI"}

 {:db/ident :dm5.object/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A DM5 object's type (URI)"}

 {:db/ident :dm5.object/string-value
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "A DM5 object's string value"}

 {:db/ident :dm5.object/number-value
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A DM5 object's long value"}

  ;; Role

 {:db/ident :dm5.role/player
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "A role's player ID"}

 {:db/ident :dm5.role/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A role's type (URI)"}

  ;; Association

 {:db/ident :dm5.assoc/role
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "An association's 2 roles"}

  ;; Entity-type enum values

  {:db/ident :dm5.entity-type/topic}
  {:db/ident :dm5.entity-type/assoc}
]
